@import url(../base/_variables.css);

/* Edit Profile Form*/
.profile-form .form-group {
    margin-bottom: 24px;
}

.profile-form label {
    display: block;
    margin-bottom: 8px;
}

.profile-form input,
.profile-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.profile-form .form-actions {
    text-align: right;
}