@import "tailwindcss";

@theme {
  --color-primary-bg: #F8FAF9;
  --color-primary-text: #2C3E50;
  --color-secondary-text: #F5F5F5;
  --color-button: #6B9080;
  --color-button-hover: #5A7A6B;
  --color-button-active: #4F6B5C;
  --color-footer-bg: #4F6B5C;
  --color-card: #FDFEFD;
  --color-card-shadow: #6B9080;
  --color-border: #D4E2D8;
  --color-slogan: #A4BEB0;
  --color-input-bg: #FDFEFD;

  --font-header: Inter, sans-serif;
  --font-body: Inter, sans-serif;
  --font-logo: 'Exo 2', sans-serif;
}